



---

# **MARKET-BASKET ANALYSIS**

## Massive Algorithm - Data Science for Economics

**Angelica Longo, Melissa Rizzi**

The goal of this project is to implement a system for **detecting frequent itemsets**, commonly known as **market-basket analysis**.
In this notebook, the detector treats each user’s reviewed books as a basket, with books serving as items.

The project is based on the **[Amazon Books Review](https://www.kaggle.com/datasets/mohamedbakhet/amazon-books-reviews)** dataset, published on Kaggle under the public domain CC0 license. Data is downloaded during the execution of the scripts via an API and contains variables related to users and their reviews of purchased books.

Given the large volume of data (3 million rows), a reasonable subsample is created using **PySpark**, consisting of approximately 500'000 rows, while ensuring scalability for the full dataset.

The project is structured as follows:

- **Preprocessing** – This phase includes data cleaning, checking data integrity, handling null values, removing duplicates, and computing the overall mean to verify consistency with the selected subsample.
- **Subsampling** – A subset of data is created while maintaining a representative distribution of user choices and ratings.
- **Frequent Itemset Mining** – The final step involves implementing an algorithm to identify frequent itemsets within the dataset.

This structured approach ensures both **efficiency** and **scalability** while maintaining **data integrity**.

## **Table of Contents**
- [1. Data Import](#1-Data-Import)
- [2. Data PreProcessing](#2-data-preprocessing)
  - [2.1 Data Integrity](#21-data-integrity)
  - [2.2 Missing Data](#22-missing-data)
  - [2.3 Data Duplicates](#22-data-duplicates)
  - [2.4 Rating Means](#22-rating-means)
- [3. Subsample Creation](#3-subsample-creation)
  - [3.1 Sample Reliability](#31-sample-realibility)
- [4. Algorithm Implementation](#4-algorithm-implementation)
  - [4.1 A-priori Algorithms](#41-a-priori-algorithms)
    - [4.1.1 Mlxtend](#411-mlxtend)
    - [4.1.2 From scratch](#411-from-scratch)
  - [4.2 SON Algorithm](#42-son-algorithm)
- [5. Extend on Larger Datasets](#5-extend-on-larger-datasets)

---
## **1. Data Import**

In [1]:
import os
import zipfile

In [2]:
os.environ['KAGGLE_USERNAME'] = "xxxxxx"
os.environ['KAGGLE_KEY'] = "xxxxxx"

In [3]:
!kaggle datasets download --unzip mohamedbakhet/amazon-books-reviews

---
## **2. Data PreProcessing**

In [4]:
# Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, min, max, sum, when, collect_set,count
from pyspark.sql.types import DoubleType
from pyspark.ml.fpm import FPGrowth
import pyspark.sql.functions as F

In [5]:
# Create Spark Session
spark = SparkSession.builder.appName("MassiveData").getOrCreate()

In [6]:
# Import data
data = spark.read.csv("books_rating.csv", header=True, inferSchema=True)
data.show(5)

+----------+--------------------+-----+--------------+--------------------+------------------+------------+-----------+--------------------+--------------------+
|        Id|               Title|Price|       User_id|         profileName|review/helpfulness|review/score|review/time|      review/summary|         review/text|
+----------+--------------------+-----+--------------+--------------------+------------------+------------+-----------+--------------------+--------------------+
|1882931173|Its Only Art If I...| NULL| AVCGYZL8FQQTD|"Jim of Oz ""jim-...|               7/7|         4.0|  940636800|Nice collection o...|This is only for ...|
|0826414346|Dr. Seuss: Americ...| NULL|A30TK6U7DNS82R|       Kevin Killian|             10/10|         5.0| 1095724800|   Really Enjoyed It|I don't care much...|
|0826414346|Dr. Seuss: Americ...| NULL|A3UH4UZ4RSVO82|        John Granger|             10/11|         5.0| 1078790400|Essential for eve...|"If people become...|
|0826414346|Dr. Seuss: Americ...| NULL|A2MVUWT453QH61|"Roy E. Perry ""a...|               7/7|         4.0| 1090713600|Phlip Nel gives s...|Theodore Seuss Ge...|
|0826414346|Dr. Seuss: Americ...| NULL|A22X4XUPKF66MR|"D. H. Richards "...|               3/3|         4.0| 1107993600|Good academic ove...|"Philip Nel - Dr....|
+----------+--------------------+-----+--------------+--------------------+------------------+------------+-----------+--------------------+--------------------+
only showing top 5 rows

In [7]:
print(f'Number of Rows: {data.count()}')

Number of Rows: 3000000

In [8]:
#Select only useful columns
df = data.select("Id", 'Title', "User_id", "review/score").withColumnRenamed("review/score", "score")
df.show(5)

+----------+--------------------+--------------+-----+
|        Id|               Title|       User_id|score|
+----------+--------------------+--------------+-----+
|1882931173|Its Only Art If I...| AVCGYZL8FQQTD|  4.0|
|0826414346|Dr. Seuss: Americ...|A30TK6U7DNS82R|  5.0|
|0826414346|Dr. Seuss: Americ...|A3UH4UZ4RSVO82|  5.0|
|0826414346|Dr. Seuss: Americ...|A2MVUWT453QH61|  4.0|
|0826414346|Dr. Seuss: Americ...|A22X4XUPKF66MR|  4.0|
+----------+--------------------+--------------+-----+
only showing top 5 rows

### **2.1 Data Integrity**

In [9]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- User_id: string (nullable = true)
 |-- score: string (nullable = true)

In [10]:
# Transform 'score' variable in double type
df = df.withColumn("score", col("score").cast(DoubleType()))
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- User_id: string (nullable = true)
 |-- score: double (nullable = true)

In [11]:
# Check score range
df.select(min(col("score")).alias("min_score"), max(col("score")).alias("max_score")).show()

+---------+----------+
|min_score| max_score|
+---------+----------+
|      1.0|1.295568E9|
+---------+----------+

In [12]:
# Keep just data with the 'score' values in the correct range [1, 5]
df = df.filter((col("score") >= 1) & (col("score") <= 5))
df.select(min("score").alias("min_score"), max("score").alias("max_score")).show()

+---------+---------+
|min_score|max_score|
+---------+---------+
|      1.0|      5.0|
+---------+---------+

### **2.2 Missing Data**

In [13]:
# Count null values for each variable
null_counts = df.select(
    [sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) for c in df.columns]
)

null_counts.show()

+---+-----+-------+-----+
| Id|Title|User_id|score|
+---+-----+-------+-----+
|  0|  196| 561492|    0|
+---+-----+-------+-----+

There are many missing values in the User_id variable. Since our goal is to identify baskets of items purchased by the same user, we ultimately decided to drop the missing values, as we couldn’t identify a suitable method to replace them.

In [14]:
# Remove null values
df_clean = df.dropna()
df_clean.show(5)

+----------+--------------------+--------------+-----+
|        Id|               Title|       User_id|score|
+----------+--------------------+--------------+-----+
|1882931173|Its Only Art If I...| AVCGYZL8FQQTD|  4.0|
|0826414346|Dr. Seuss: Americ...|A30TK6U7DNS82R|  5.0|
|0826414346|Dr. Seuss: Americ...|A3UH4UZ4RSVO82|  5.0|
|0826414346|Dr. Seuss: Americ...|A2MVUWT453QH61|  4.0|
|0826414346|Dr. Seuss: Americ...|A22X4XUPKF66MR|  4.0|
+----------+--------------------+--------------+-----+
only showing top 5 rows

In [15]:
# Check data size
n_rows_clean = df_clean.count()
print(f"Number of Rows - After cleaning: {n_rows_clean}")

Number of Rows - After cleaning: 2420237

In [16]:
null_counts = df_clean.select(
    [sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) for c in df.columns]
)

null_counts.show()

+---+-----+-------+-----+
| Id|Title|User_id|score|
+---+-----+-------+-----+
|  0|    0|      0|    0|
+---+-----+-------+-----+

### **2.3 Data Duplicates**

In [17]:
# Remove duplicated rows
df_clean = df_clean.dropDuplicates()

n_rows_clean = df_clean.count()
print(f"Number of Rows - After duplicates removal: {n_rows_clean}")

Number of Rows - After duplicates removal: 2383199

Up until now, we’ve performed a general cleaning of the dataset. From here on, we’ll focus exclusively on the three columns that are relevant to our analysis (Id, User_id, and score), forming a new dataset: df_short.

In [18]:
# Remove useless columns
df_short = df_clean.select("Id", "User_id","score")
df_short.show(5)

+----------+--------------+-----+
|        Id|       User_id|score|
+----------+--------------+-----+
|B000879GGE|A2HDZHLMT3L5IO|  5.0|
|B000NKGYMK| A7VSVB6Z0JHOV|  2.0|
|050552421X|A1HSG6RIH5NHH4|  5.0|
|B0007H4QBK|A1I78HZLE3O1SD|  5.0|
|0671424793|A1G6A8W57HZZJR|  5.0|
+----------+--------------+-----+
only showing top 5 rows

In [19]:
# Check and remove duplicated rows for the three considered variables
df_short= df_short.dropDuplicates()

Given that the same user could have rated the same book twice, we want to compute the mean of the different scores given by the same user to the same book.

In [20]:
# Find duplicates considering only 'Id' and 'User_id'
duplicati = df_short.groupBy("Id", "User_id").count().filter("count > 1")

In [21]:
# Compute average score for every (Id, User_id)
score_mean = df_short.groupBy('Id', 'User_id').agg(F.mean('score').alias('mean_score'))
df_final = df_short.join(score_mean, on=['Id', 'User_id'], how='left')

# Creation of the final preprocessed dataset
df_final = df_final.select('Id','User_id', 'mean_score')
df_final = df_final.dropDuplicates()
df_final.show(5)

+----------+--------------+----------+
|        Id|       User_id|mean_score|
+----------+--------------+----------+
|0001047604|A1ZQ1LUQ9R6JHZ|       5.0|
|0001047655|A12N9YU5K516JF|       4.0|
|0001047655|A1EB4FLIXNX0LK|       2.0|
|0001047655|A1NS4974T51EU1|       5.0|
|0001047655|A2C8IVS3AEH96R|       1.0|
+----------+--------------+----------+
only showing top 5 rows

In [22]:
n_rows_final = df_final.count()
print(f"Number of Rows - Final dataset: {n_rows_final}")

Number of Rows - Final dataset: 2380155

Before continuing the analysis, we considered only books that received a score above 3, as low ratings might indicate lack of engagement with the book.

In [23]:
# Filter and keep just rows with rating >= 3
df_final = df_final.filter(col("mean_score") >= 3)

Then we filtered for users who have rated at least 2 books, because otherwise, if they have only one high rating, we wouldn't be able to understand what other books they might buy based on that rating.

In [24]:
# Filter and keep just users who rated > 1 book
user_counts = df_final.groupBy("User_id").agg(count("Id").alias("book_count"))
users_with_multiple_books = user_counts.filter(col("book_count") > 1).select("User_id")

df_final = df_final.join(users_with_multiple_books, on="User_id", how="inner")
print(f'Number of Rows after all preprocessing steps: {df_final.count()}')

Number of Rows after all preprocessing steps: 1488780

In [25]:
df_final.show(5)

+--------------------+----------+----------+
|             User_id|        Id|mean_score|
+--------------------+----------+----------+
|A00274963RTZUW5BU...|B00086Q244|       5.0|
|A00274963RTZUW5BU...|B0006Y8M7S|       5.0|
|A00540411RKGTDNU5...|B000H9R1Q0|       5.0|
|A00540411RKGTDNU5...|B000Q032UY|       5.0|
|A00540411RKGTDNU5...|B000GQG7D2|       5.0|
+--------------------+----------+----------+
only showing top 5 rows

### **2.4 Rating Means**

We want to calculate the overall average score to see if consistency is maintained after creating the subsample.

In [26]:
df_final = df_final.withColumn("mean_score", F.col("mean_score").cast("double"))

overall_mean = df_final.agg(F.avg("mean_score")).collect()[0][0]
print(f"Overall mean score - Final dataset: {overall_mean}")

Overall mean score - Final dataset: 4.542176703967902

---
## **3. Subsample Creation**

We aim to create a subsample that remains consistent with the original dataset. To achieve this, we select a fraction of users while ensuring that all their reviews are included. This approach allows us to better represent their purchasing behavior and rating patterns, preserving the integrity of the data.

In [27]:
num_users = df_final.select("User_id").distinct().count()
print(f"Total number of different users: {num_users}")

Total number of different users: 268637

In [28]:
print(f'Total number of different books: {df_final.select("Id").distinct().count()}')

Total number of different books: 162125

In [29]:
# Keep just 20% of the users
sample_fraction = 0.2
user_sample = df_final.select("User_id").distinct().sample(fraction=sample_fraction, seed=42)

In [30]:
# Create the subsample with the selected users
df_sampled = df_final.join(user_sample, on="User_id", how="inner")
df_sampled.show(5)

+--------------------+----------+----------+
|             User_id|        Id|mean_score|
+--------------------+----------+----------+
|A07084061WTSSXN6V...|B000Q34B8I|       5.0|
|A07084061WTSSXN6V...|0140817751|       5.0|
|A07084061WTSSXN6V...|0808510002|       5.0|
|A07084061WTSSXN6V...|0613642910|       5.0|
|A07084061WTSSXN6V...|B000FC1BYM|       5.0|
+--------------------+----------+----------+
only showing top 5 rows

In [31]:
# Check subsample size
n_rows_sample = df_sampled.count()
print(f"Number of Rows - Sample: {n_rows_sample}")

Number of Rows - Sample: 295872

In [32]:
# Check data integrity
df_sampled.printSchema()

root
 |-- User_id: string (nullable = true)
 |-- Id: string (nullable = true)
 |-- mean_score: double (nullable = true)

### **3.1 Sample reliability**

In [33]:
# Check number of books rated by each user
avg_rows_original = df_final.groupBy("User_id").count().agg(F.mean("count")).collect()[0][0]
avg_rows_sampled = df_sampled.groupBy("User_id").count().agg(F.mean("count")).collect()[0][0]

print(f"Books rated by each user - Original: {avg_rows_original:.2f}")
print(f"Books rated by each user - Subsample: {avg_rows_sampled:.2f}")

Books rated by each user - Original: 5.54
Books rated by each user - Subsample: 5.49

In [34]:
# Check Score Average and Standard Deviation
print('Original Mean and Standard Deviation')
df_final.select(F.mean("mean_score"), F.stddev("mean_score")).show()
print('Sample Mean and Standard Deviation')
df_sampled.select(F.mean("mean_score"), F.stddev("mean_score")).show()

Original Mean and Standard Deviation
+-----------------+------------------+
|  avg(mean_score)|stddev(mean_score)|
+-----------------+------------------+
|4.542176703967902| 0.679797550978736|
+-----------------+------------------+

Sample Mean and Standard Deviation
+----------------+------------------+
| avg(mean_score)|stddev(mean_score)|
+----------------+------------------+
|4.53571026209532|0.6831053333812903|
+----------------+------------------+

---
## **4. Algorithms Implementation**

In [35]:
# Choose whether to work with a subsample or the entire dataset
def use_sample(is_subsample):
    if is_subsample:
        data = df_sampled
    else:
        data = df_final
    print(f'Dataset Size: {data.count()}')
    return data

In [36]:
# In algorithms implementation the used dataset is df_filtered
df_filtered = use_sample(True)

Dataset Size: 295872

### **4.1 A-priori Algorithms**

The Apriori algorithm is an association rule mining method used to discover frequent patterns within large datasets. It works by first identifying the most frequently occurring itemsets and then extracting association rules that express relationships between these itemsets. The algorithm follows an iterative approach, progressively eliminating less frequent itemsets, improving efficiency. It is commonly used in market basket analysis.

#### **4.1.1 Mlxtend**

In the context of Apriori, MLxtend provides an easy-to-use implementation for association rule mining. The apriori function in MLxtend helps identify frequent itemsets from transaction data, while the association_rules function generates association rules based on these frequent itemsets. It is widely used for tasks like market basket analysis, where the goal is to find associations between products frequently bought together.

In [37]:
# Import necessary libraries
from pyspark.sql.functions import collect_set
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd
from scipy.sparse import lil_matrix

In [38]:
# Group items for every user
transactions = df_filtered.groupBy("User_id").agg(collect_set("Id").alias("books"))
transactions.show(5)

+--------------------+--------------------+
|             User_id|               books|
+--------------------+--------------------+
|A07084061WTSSXN6V...|[0808510002, B000...|
|      A100NGGXRQF0AQ|[B000U424PU, 1568...|
|      A100TQ7ZRE0W02|[0971237034, 0976...|
|A1019451ZPRJ0N3JO06M|[B000N2HBZM, 0001...|
|      A1033RWNZWEMR5|[B0006FD9NE, B000...|
+--------------------+--------------------+
only showing top 5 rows

In [39]:
# Convert to a Pandas dataframe
pandas_df = transactions.toPandas()
pandas_df.head()

                 User_id                                              books
0  A07084061WTSSXN6VLV92  [0808510002, B000Q34B8I, 0521639522, B000FC1BY...
1         A100NGGXRQF0AQ  [B000U424PU, 1568521332, 0066620694, 158160032...
2         A100TQ7ZRE0W02   [0971237034, 0976325608, 0971237018, 0972800522]
3   A1019451ZPRJ0N3JO06M   [B000N2HBZM, 0001050087, 0786197382, 0786192550]
4         A1033RWNZWEMR5               [B0006FD9NE, B0006AEPTG, B000IY4THI]

In [40]:
unique_books = set(item for sublist in pandas_df["books"] for item in sublist)
book_index = {book: idx for idx, book in enumerate(unique_books)}  
sparse_matrix = lil_matrix((len(pandas_df), len(unique_books)), dtype=bool)

In [41]:
for row_idx, books in enumerate(pandas_df["books"]):
    for book in books:
        col_idx = book_index[book]
        sparse_matrix[row_idx, col_idx] = 1
        
# Sparse Matrix
encoded_df = pd.DataFrame.sparse.from_spmatrix(sparse_matrix, columns=book_index.keys())

C:\Users\melis\AppData\Local\Temp\ipykernel_2676\3139448467.py:7: FutureWarning: Allowing arbitrary scalar fill_value in SparseDtype is deprecated. In a future version, the fill_value must be a valid value for the SparseDtype.subtype.
  encoded_df = pd.DataFrame.sparse.from_spmatrix(sparse_matrix, columns=book_index.keys())

- Function **apriori** included in Mlxtend library

In [42]:
# Chosen support is 1,2% 
frequent_itemsets = apriori(encoded_df, min_support=0.012, use_colnames=True)

In [43]:
# Keep itemsets with at least 2 books
filtered_itemsets = frequent_itemsets[frequent_itemsets['itemsets'].apply(lambda x: len(x) >= 2)]

# Descending order
sorted_itemsets = filtered_itemsets.sort_values(by='support', ascending=False)
sorted_itemsets.head(15)

print("Top 15 frequent itemsets:")
sorted_itemsets.head(15)

Top 15 frequent itemsets:

      support                                          itemsets
42   0.012980                          (B000NWU3I4, B000ILIJE0)
38   0.012869                          (B000PC54NG, B000ILIJE0)
39   0.012850                          (B000NWU3I4, B000PC54NG)
107  0.012850              (B000NWU3I4, B000PC54NG, B000ILIJE0)
19   0.012832                          (B000NWQXBA, B000PC54NG)
21   0.012832                          (B000NWQXBA, B000ILIJE0)
74   0.012832              (B000NWQXBA, B000PC54NG, B000ILIJE0)
22   0.012813                          (B000NWU3I4, B000NWQXBA)
75   0.012813              (B000NWU3I4, B000NWQXBA, B000PC54NG)
78   0.012813              (B000NWU3I4, B000NWQXBA, B000ILIJE0)
157  0.012813  (B000NWU3I4, B000NWQXBA, B000PC54NG, B000ILIJE0)
29   0.012758                          (B000H9R1Q0, B000PC54NG)
40   0.012758                          (B000Q032UY, B000ILIJE0)
31   0.012758                          (B000H9R1Q0, B000ILIJE0)
94   0.012758              (B000H9R1Q0, B000ILIJE0, B000PC54NG)

- Association rules

In [44]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.2)

rules_filtrate = rules[rules["consequents"].apply(lambda x: len(x) == 1)]

print("\nAssociation Rules:\n")
rules_filtrate[['antecedents', 'consequents', 'support', 'confidence', 'lift']].sort_values(by='support', ascending=False).head(15)

Association Rules:

                  antecedents   consequents   support  confidence       lift
66               (B000NWU3I4)  (B000ILIJE0)  0.012980    1.000000  76.820513
67               (B000ILIJE0)  (B000NWU3I4)  0.012980    0.997151  76.820513
58               (B000PC54NG)  (B000ILIJE0)  0.012869    1.000000  76.820513
59               (B000ILIJE0)  (B000PC54NG)  0.012869    0.988604  76.820513
60               (B000NWU3I4)  (B000PC54NG)  0.012850    0.990000  76.928991
61               (B000PC54NG)  (B000NWU3I4)  0.012850    0.998559  76.928991
452  (B000NWU3I4, B000PC54NG)  (B000ILIJE0)  0.012850    1.000000  76.820513
453  (B000NWU3I4, B000ILIJE0)  (B000PC54NG)  0.012850    0.990000  76.928991
454  (B000PC54NG, B000ILIJE0)  (B000NWU3I4)  0.012850    0.998559  76.928991
25               (B000ILIJE0)  (B000NWQXBA)  0.012832    0.985755  76.820513
21               (B000PC54NG)  (B000NWQXBA)  0.012832    0.997118  77.706052
255  (B000NWQXBA, B000ILIJE0)  (B000PC54NG)  0.012832    1.000000  77.706052
254  (B000NWQXBA, B000PC54NG)  (B000ILIJE0)  0.012832    1.000000  76.820513
256  (B000PC54NG, B000ILIJE0)  (B000NWQXBA)  0.012832    0.997118  77.706052
20               (B000NWQXBA)  (B000PC54NG)  0.012832    1.000000  77.706052

#### **4.1.2 From scratch**

In [45]:
# Import necessary library
from itertools import combinations

In [46]:
def apriori_frequent_books(rdd, threshold):
    # Creates pairs of books for each user
    pairs_rdd = rdd.flatMap(lambda books: [tuple(sorted(pair)) for pair in combinations(books, 2)])
    # Count pairs frequency
    pair_counts_rdd = pairs_rdd.map(lambda pair: (pair, 1)).reduceByKey(lambda a, b: a + b)
    # Filter pairs where counts >= threshold
    frequent_pairs_rdd = pair_counts_rdd.filter(lambda pair_count: pair_count[1] >= threshold)
    return frequent_pairs_rdd

In [47]:
# Convert df_filtered as RDD 
rdd = df_filtered.rdd.map(lambda row: (row["User_id"], row["Id"])) \
                     .groupByKey() \
                     .map(lambda x: list(set(x[1])))

In [48]:
# Books must be rated together by at least 50 users
threshold = 50

In [49]:
# Apply a-priori algorithm
frequent_book_pairs = apriori_frequent_books(rdd, threshold)

In [50]:
print("Top 15 frequent itemsets:")
frequent_book_pairs.sortBy(lambda x: -x[1]).take(15)

Top 15 frequent itemsets:

[(('B000ILIJE0', 'B000NWU3I4'), 710),
 (('B000NWU3I4', 'B000PC54NG'), 704),
 (('B000ILIJE0', 'B000PC54NG'), 704),
 (('B000NWQXBA', 'B000PC54NG'), 702),
 (('B000NWQXBA', 'B000NWU3I4'), 702),
 (('B000ILIJE0', 'B000NWQXBA'), 702),
 (('B000H9R1Q0', 'B000PC54NG'), 696),
 (('B000NWQXBA', 'B000Q032UY'), 696),
 (('B000ILIJE0', 'B000Q032UY'), 696),
 (('B000H9R1Q0', 'B000Q032UY'), 696),
 (('B000H9R1Q0', 'B000NWU3I4'), 696),
 (('B000H9R1Q0', 'B000ILIJE0'), 696),
 (('B000PC54NG', 'B000Q032UY'), 696),
 (('B000H9R1Q0', 'B000NWQXBA'), 696),
 (('B000NWU3I4', 'B000Q032UY'), 696)]

In [51]:
frequent_df = frequent_book_pairs.toDF(["pair", "count"])

In [52]:
# Count how many times each book appears in the dataset
book_counts = rdd.flatMap(lambda books: [(book, 1) for book in books]) \
                 .reduceByKey(lambda a, b: a + b) \
                 .toDF(["book", "count"])

In [53]:
# Compute association rules
rules_df = frequent_df.select(
    col("pair").getField("_1").alias("book_A"),
    col("pair").getField("_2").alias("book_B"),
    col("count").alias("pair_count")
)

rules_df = rules_df.join(book_counts.withColumnRenamed("book", "book_A"), "book_A") \
                   .withColumnRenamed("count", "count_A") \
                   .join(book_counts.withColumnRenamed("book", "book_B"), "book_B") \
                   .withColumnRenamed("count", "count_B")

rules_df = rules_df.withColumn("support", col("pair_count") / rdd.count()) \
                   .withColumn("confidence_AtoB", col("pair_count") / col("count_A")) \
                   .withColumn("confidence_BtoA", col("pair_count") / col("count_B")) \
                   .withColumn("lift", col("confidence_AtoB") / (col("count_B") / rdd.count()))

rules_df = rules_df.orderBy(col("pair_count").desc())

rules_df.show(15, False)

+----------+----------+----------+-------+-------+--------------------+------------------+------------------+-----------------+
|book_B    |book_A    |pair_count|count_A|count_B|support             |confidence_AtoB   |confidence_BtoA   |lift             |
+----------+----------+----------+-------+-------+--------------------+------------------+------------------+-----------------+
|B000NWU3I4|B000ILIJE0|710       |711    |710    |0.013170831246405846|0.9985935302390999|1.0               |75.8185654008439 |
|B000PC54NG|B000NWU3I4|704       |710    |704    |0.013059528447140445|0.9915492957746479|1.0               |75.92535211267607|
|B000PC54NG|B000ILIJE0|704       |711    |704    |0.013059528447140445|0.9901547116736991|1.0               |75.81856540084388|
|B000NWU3I4|B000NWQXBA|702       |702    |710    |0.013022427514051978|1.0               |0.9887323943661972|75.92535211267607|
|B000PC54NG|B000NWQXBA|702       |702    |704    |0.013022427514051978|1.0               |0.9971590909090909|76.57244318181819|
|B000NWQXBA|B000ILIJE0|702       |711    |702    |0.013022427514051978|0.9873417721518988|1.0               |75.8185654008439 |
|B000PC54NG|B000H9R1Q0|696       |696    |704    |0.012911124714786577|1.0               |0.9886363636363636|76.57244318181819|
|B000Q032UY|B000NWU3I4|696       |710    |696    |0.012911124714786577|0.9802816901408451|1.0               |75.92535211267607|
|B000NWQXBA|B000H9R1Q0|696       |696    |702    |0.012911124714786577|1.0               |0.9914529914529915|76.7905982905983 |
|B000ILIJE0|B000H9R1Q0|696       |696    |711    |0.012911124714786577|1.0               |0.9789029535864979|75.81856540084388|
|B000NWU3I4|B000H9R1Q0|696       |696    |710    |0.012911124714786577|1.0               |0.9802816901408451|75.92535211267607|
|B000Q032UY|B000H9R1Q0|696       |696    |696    |0.012911124714786577|1.0               |1.0               |77.45258620689656|
|B000Q032UY|B000NWQXBA|696       |702    |696    |0.012911124714786577|0.9914529914529915|1.0               |76.7905982905983 |
|B000Q032UY|B000PC54NG|696       |704    |696    |0.012911124714786577|0.9886363636363636|1.0               |76.57244318181819|
|B000Q032UY|B000ILIJE0|696       |711    |696    |0.012911124714786577|0.9789029535864979|1.0               |75.81856540084388|
+----------+----------+----------+-------+-------+--------------------+------------------+------------------+-----------------+
only showing top 15 rows

### **4.2 SON Algorithm**

In [54]:
from pyspark.rdd import RDD
from itertools import combinations
from collections import defaultdict
from itertools import islice

In [55]:
book_baskets = (df_filtered.rdd.
                map(lambda row: (row["User_id"], row["Id"])).
                groupByKey().
                mapValues(list))

In [56]:
SON_baskets = book_baskets.collect()
SON_baskets = [basket for _, basket in SON_baskets]

In [57]:
sc = spark.sparkContext

In [58]:
#create 10 chuncks
rdd = spark.sparkContext.parallelize(SON_baskets, numSlices=10)

In [59]:
# Set local and global support
s = 50 
p = 1 / rdd.getNumPartitions()  
local_s = s * p

In [60]:
# First MapReduce: Find candidates
def find_frequent_itemsets(partition):
    partition_list = list(partition)  
    counts = defaultdict(int)

    # creating itemsets
    for basket in partition_list:
        for item in basket:
            counts[frozenset([item])] += 1  
        for pair in combinations(basket, 2):  
            counts[frozenset(pair)] += 1

    # Find locally frequent itemsets
    frequent_itemsets = [itemset for itemset, count in counts.items() if count >= local_s]

    return [(itemset, 1) for itemset in frequent_itemsets]

# First Map
candidates_rdd = rdd.mapPartitions(find_frequent_itemsets)

# First Reduce
candidates = candidates_rdd.distinct().collect()
candidates_set = set(candidates)

In [61]:
list(islice(candidates_set, 10))

[(frozenset({'B0009K75X6', 'B000GRZI8Q'}), 1),
 (frozenset({'B00017JJ5E', 'B000K0DB8I'}), 1),
 (frozenset({'0451513967', 'B000C1X8JC'}), 1),
 (frozenset({'9562910334', 'B000P3LVZA'}), 1),
 (frozenset({'B0006BV75A', 'B000EVFCRG'}), 1),
 (frozenset({'B000CRFW9A', 'B000OVMRLA'}), 1),
 (frozenset({'0141804459', 'B0006AQ4LI'}), 1),
 (frozenset({'B000IVDZR6'}), 1),
 (frozenset({'1578152437'}), 1),
 (frozenset({'B0001FZGSK'}), 1)]

In [62]:
# Second Mapreduce: Frequent itemsets frequency

def count_candidates(partition):
    partition_list = list(partition)
    counts = defaultdict(int)

    for basket in partition_list:
        for candidate in candidates_set:
            if candidate[0].issubset(set(basket)):  
                counts[candidate[0]] += 1

    return counts.items()

# Second Map
counts_rdd = rdd.mapPartitions(count_candidates)

# Second Reduce
frequent_itemsets = counts_rdd.reduceByKey(lambda x, y: x + y) \
                             .filter(lambda x: x[1] >= s) \
                             .collect()

In [63]:
filtered_itemsets = [itemset for itemset in frequent_itemsets if len(itemset[0]) == 2]
sorted_itemsets = sorted(filtered_itemsets, key=lambda x: x[1], reverse=True)

In [64]:
sorted_itemsets[:15]

[(frozenset({'B000ILIJE0', 'B000NWU3I4'}), 710),
 (frozenset({'B000ILIJE0', 'B000PC54NG'}), 704),
 (frozenset({'B000NWU3I4', 'B000PC54NG'}), 704),
 (frozenset({'B000NWQXBA', 'B000PC54NG'}), 702),
 (frozenset({'B000NWQXBA', 'B000NWU3I4'}), 702),
 (frozenset({'B000ILIJE0', 'B000NWQXBA'}), 702),
 (frozenset({'B000PC54NG', 'B000Q032UY'}), 696),
 (frozenset({'B000NWQXBA', 'B000Q032UY'}), 696),
 (frozenset({'B000NWU3I4', 'B000Q032UY'}), 696),
 (frozenset({'B000H9R1Q0', 'B000ILIJE0'}), 696),
 (frozenset({'B000H9R1Q0', 'B000PC54NG'}), 696),
 (frozenset({'B000H9R1Q0', 'B000Q032UY'}), 696),
 (frozenset({'B000H9R1Q0', 'B000NWU3I4'}), 696),
 (frozenset({'B000H9R1Q0', 'B000NWQXBA'}), 696),
 (frozenset({'B000ILIJE0', 'B000Q032UY'}), 696)]

---
## **5. Extend on Larger Datasets**

Prove algorithms scalability by running A-priori on the original dataset (after pre-processing)

In [65]:
df_filtered = use_sample(False)

Dataset Size: 1488780

In [66]:
rdd = df_filtered.rdd.map(lambda row: (row["User_id"], row["Id"])) \
                     .groupByKey() \
                    .map(lambda x: list(set(x[1])))

In [67]:
frequent_book_pairs = apriori_frequent_books(rdd, threshold)
print("Top 15 frequent itemsets:")
frequent_book_pairs.sortBy(lambda x: -x[1]).take(15)

Top 15 frequent itemsets:

[(('B000ILIJE0', 'B000NWU3I4'), 3450),
 (('B000ILIJE0', 'B000PC54NG'), 3428),
 (('B000NWQXBA', 'B000PC54NG'), 3424),
 (('B000ILIJE0', 'B000NWQXBA'), 3424),
 (('B000NWU3I4', 'B000PC54NG'), 3423),
 (('B000NWQXBA', 'B000NWU3I4'), 3418),
 (('B000NWQXBA', 'B000Q032UY'), 3400),
 (('B000ILIJE0', 'B000Q032UY'), 3400),
 (('B000PC54NG', 'B000Q032UY'), 3400),
 (('B000H9R1Q0', 'B000PC54NG'), 3396),
 (('B000H9R1Q0', 'B000Q032UY'), 3396),
 (('B000H9R1Q0', 'B000ILIJE0'), 3396),
 (('B000H9R1Q0', 'B000NWQXBA'), 3396),
 (('B000NWU3I4', 'B000Q032UY'), 3394),
 (('B000H9R1Q0', 'B000NWU3I4'), 3390)]

The top 15 most frequent items are the same as before, proving algorithms scalability.

In [68]:
frequent_df = frequent_book_pairs.toDF(["pair", "count"])

In [69]:
# Count how many times each book appears in the dataset
book_counts = rdd.flatMap(lambda books: [(book, 1) for book in books]) \
                 .reduceByKey(lambda a, b: a + b) \
                 .toDF(["book", "count"])

In [70]:
# Compute association rules
rules_df = frequent_df.select(
    col("pair").getField("_1").alias("book_A"),
    col("pair").getField("_2").alias("book_B"),
    col("count").alias("pair_count")
)

rules_df = rules_df.join(book_counts.withColumnRenamed("book", "book_A"), "book_A") \
                   .withColumnRenamed("count", "count_A") \
                   .join(book_counts.withColumnRenamed("book", "book_B"), "book_B") \
                   .withColumnRenamed("count", "count_B")

rules_df = rules_df.withColumn("support", col("pair_count") / rdd.count()) \
                   .withColumn("confidence_AtoB", col("pair_count") / col("count_A")) \
                   .withColumn("confidence_BtoA", col("pair_count") / col("count_B")) \
                   .withColumn("lift", col("confidence_AtoB") / (col("count_B") / rdd.count()))

rules_df = rules_df.orderBy(col("pair_count").desc())

rules_df.show(15, False)

+----------+----------+----------+-------+-------+--------------------+------------------+------------------+-----------------+
|book_B    |book_A    |pair_count|count_A|count_B|support             |confidence_AtoB   |confidence_BtoA   |lift             |
+----------+----------+----------+-------+-------+--------------------+------------------+------------------+-----------------+
|B000NWU3I4|B000ILIJE0|3450      |3463   |3451   |0.012842609171484196|0.9962460294542305|0.9997102289191538|77.55101263821967|
|B000PC54NG|B000ILIJE0|3428      |3463   |3429   |0.01276071427241966 |0.9898931562229281|0.99970836978711  |77.55086841885644|
|B000PC54NG|B000NWQXBA|3424      |3424   |3429   |0.012745824290771562|1.0               |0.9985418489355498|78.34266550014581|
|B000NWQXBA|B000ILIJE0|3424      |3463   |3424   |0.012745824290771562|0.9887380883626913|1.0               |77.57349119260756|
|B000PC54NG|B000NWU3I4|3423      |3451   |3429   |0.012742101795359537|0.9918864097363083|0.9982502187226596|77.70702521211217|
|B000NWU3I4|B000NWQXBA|3418      |3424   |3451   |0.012723489318299416|0.9982476635514018|0.9904375543320777|77.70682630931843|
|B000Q032UY|B000NWQXBA|3400      |3424   |3400   |0.012656484400882975|0.9929906542056075|1.0               |78.45706775700936|
|B000Q032UY|B000ILIJE0|3400      |3463   |3400   |0.012656484400882975|0.9818076812012706|1.0               |77.57349119260758|
|B000Q032UY|B000PC54NG|3400      |3429   |3400   |0.012656484400882975|0.9915427238261884|1.0               |78.34266550014581|
|B000NWQXBA|B000H9R1Q0|3396      |3396   |3424   |0.012641594419234879|1.0               |0.991822429906542 |78.45706775700934|
|B000PC54NG|B000H9R1Q0|3396      |3396   |3429   |0.012641594419234879|1.0               |0.9903762029746281|78.34266550014581|
|B000Q032UY|B000H9R1Q0|3396      |3396   |3400   |0.012641594419234879|1.0               |0.9988235294117647|79.01088235294118|
|B000ILIJE0|B000H9R1Q0|3396      |3396   |3463   |0.012641594419234879|1.0               |0.9806526133410338|77.57349119260756|
|B000Q032UY|B000NWU3I4|3394      |3451   |3400   |0.01263414942841083 |0.9834830483917705|0.9982352941176471|77.70586343259413|
|B000NWU3I4|B000H9R1Q0|3390      |3396   |3451   |0.012619259446762732|0.9982332155477032|0.982323964068386 |77.70570162998793|
+----------+----------+----------+-------+-------+--------------------+------------------+------------------+-----------------+
only showing top 15 rows